@{
    Layout = "_Layout";
}

<partial name="_InvoiceSearchCardPartial" />
<div class="overlay">
    <partial name="_LoadingSpinnerPartial" />
</div>


@section scripts {
    <script src="~/js/invoice-from-startup.js" type="module"></script>
}