@model LoginModel

@section Login {
    <link rel="stylesheet" href="~/css/login-form.css" />
}

<div class="m-1 text-danger" asp-validation-summary="All"></div>

<div class="login text-center">
    <form class="login__form" method="post">
        <img class="login__image mb-4" src="/images/pose-logo.png" alt="Pose Bakery" />
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="hidden" name="returnUrl" value=@(Model.ReturnUrl ?? "/") />
        <div>
            <label asp-for="UserName" class="sr-only">UserName</label>
            <input id="inputUserName" class="form-control" asp-for="UserName" placeholder="UserName" autofocus />
        </div>
        <div>
            <label asp-for="Password" class="sr-only">Password</label>
            <input id="inputPassword" class="form-control" asp-for="Password" type="password" placeholder="Password" />
        </div>
        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Sign in</button>
    </form>
</div>