<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Search For Invoices</h5>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a id="name-link" class="nav-link invoice-nav-link" data-state="SearchByNameAndDateInvoiceFormStateDecorator">
                    Name
                </a>
            </li>
            <li class="nav-item">
                <a id="date-link" class="nav-link invoice-nav-link active" data-state="SearchByDateRangeInvoiceFormStateDecorator">
                    Date
                </a>
            </li>
        </ul>

        <form id="invoiceForm" class="m-3" method="get" >
            <span class="invoice-state"></span>
            <div class="text-center m-2">
                <button class="btn btn-primary w-25" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>