@model Invoice

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header text-center">
            <h3 class="font-weight-normal">@Model.CustomerRef.name</h3>
        </div>
        <div class="card-body">
            <table class="table table-borderless table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Quantity</th>
                        <th>Item</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Line)
                    {
                        <tr>
                            @if (line.AnyIntuitObject is SalesItemLineDetail itemLine)
                            {
                                <td>
                                    @(itemLine.Qty.ToString() ?? "0")
                                </td>

                                <td>
                                    @itemLine.ItemRef.name
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ml-1 px-3 py-3">
            <a href="#" class="card-link">View Invoice</a>
        </div>
        <div class="card-footer">
            <span class="h5">Create Time</span>
            <div>@Model.MetaData.CreateTime</div>
        </div>
    </div>
</div>